body {
	min-width: 900px;
	background-color: #000;
	background-image: url("../imgs/FaceTableHeader.jpg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-attachment: scroll;
	font-family: arial, verdana, sans-serif;
	font-Size: 16px;
}
h1 {
	color: #000000;
	font-family: verdana, arial, sans-serif;
	font-size: 44px;
	font-weight: 500;
	text-shadow: -2.0em 0.0em rgba(200,200,200,0.5), 2.0em 0.0em rgba(230,230,230,0.15);
	letter-spacing: 10px;
	text-align: right;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000
	margin: 0;
}
h2 {
	color: #000000;
}
h3 {
	color: #BBBBBB;
}
a {
	margin-top: 0px;
	padding-top: 0px;
	text-decoration: none;
}
a.header {
	text-decoration: none;
	color: #BBB;
}
a.header:hover {
	color: #FFF;
}
p.form {
	margin: 0px;
	padding: 3px;
}
p.submit {
	padding-left: 147px;
	padding-top: 7px;
	margin-top: 0px;
	height: 25px;
}
p.incorrect {
	color: #FF0000;
}
label {
	font-family: arial, verdana, sans-serif;
	float: left;
	text-align: left;
	display: block;
	margin-right: 5px;
	width: 140px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
input.normal {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input.incorrect {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(255, 0, 0, 0.7);
}
input.incorrect:active {
	background-color: #FFF;
}
input.submit {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input.submit:hover {
	background-color: #FFF;
	cursor: pointer;
}
#About {
	min-width: 60px;
	padding-right: 10px;
}

#Services {
        min-width: 80px;
	padding-right: 10px;
}

#Phil {
	min-width: 95px;
	padding-right: 10px;
}

#Blog {
       min-width: 50px;
       padding-right: 10px;
}

#Photos {
       min-width: 65px;
       padding-right: 10px;
}

#Contact {
       min-width: 60px;
       padding-right: 10px;
}

#Connect {
       min-width: 77px;
       padding-right: 10px;
}

#login {
	padding-left: 275px;
}

#welcome {
	padding-left: 250px;
}
#home {
	width: 60px;
}
#profile {
	width: 80px;
}
#find {
	width: 180px;
}
p.profile {
	color: #BBBBBB;
}
p.brochure1 {
	color: #000;
	font-family: arial, verdana, sans-serif;
	text-align: justify;
}
span.brochuretext {
	color: #000;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
}
div.notheader {
	position: relative;
	top: 60px;
	left: 5px;
	background-color: rgba(255, 255, 255, .9);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 500px;
	min-height: 150px;
}
div.header {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -25px;
	left: 10px;
}
div.login {
	padding: 10px;
	margin: 0px;
}
div.register {
	padding: 10px;
	margin: 0px;
}
div.clear {
	clear: both;
}
div.imgs {
	width: 200px;
	margin-left: 15px;
	position: absolute;
	left: 650px;
	clear: both;
}
div.body {
	position: absolute;
	top: 100px;
	margin: 15px;
	width: 600px;
	clear: both;
}
img.sidebar {
	display: block;
}
span.parens {
	font-size: 14px;
}
ul {
	padding-left: 15px;
}
li {
	padding: 0px;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
}
