body.home {
	min-width: 900px;
	background-color: #000;
	background-image: url("../imgs/FaceTableHeader.jpg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-attachment: scroll;
	font-family: arial, verdana, sans-serif;
	font-Size: 16px;
}
body.loggedin {
	min-width: 900px;
	background-color: #FFF;
	background-image: url("../imgs/Face-table-image-cropped.jpg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-attachment: scroll;
	background-size: 100%;
	font-family: arial, verdana, sans-serif;
	font-size: 16px;
}
body.loggedin {
	min-width: 900px;
	background-color: #FFF;
	background-image: url("../imgs/Face-table-image-cropped.jpg");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-attachment: scroll;
	font-family: arial, verdana, sans-serif;
	font-size: 16px;
}
h1 {
	color: #000000;
	font-family: verdana, arial, sans-serif;
	font-size: 44px;
	font-weight: 500;
	text-shadow: -2.0em 0.0em rgba(200,200,200,0.5), 2.0em 0.0em rgba(230,230,230,0.15);
	letter-spacing: 10px;
	text-align: right;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000
	margin: 0;
}
h2 {
	color: #999;
	font-family: verdana, arial, sans-serif;
	font-size: 16px;
}
h3 {
	color: #000;
	font-family: verdana, arial, sans-serif;
	font-size: 16px;
	position: relative;
	left: 110px;
	top: -115px;
	width: 393px;
}
h4 {
	color: #999;
	font-family: verdana, arial, sans-serif;
	font-size: 20px;
}
a {
	margin-top: 0px;
	padding-top: 0px;
	text-decoration: none;
}
a.header {
	text-decoration: none;
	color: #BBB;
}
a.header:hover {
	color: #FFF;
}
a.getlink {
	text-decoration: none;
	color: #00F;
	font-weight: 500;
	font-size: 12px;
	float: right;
	outline: none;
}
a.blogs {
	text-decoration: none;
	outline: none;
	color: #000;
}
a.blogs:hover {
	color: #999;
	padding-left: 5px;
}
p.form {
	margin: 0px;
	padding: 3px;
}
p.submit {
	padding-left: 147px;
	padding-top: 7px;
	margin-top: 0px;
	height: 25px;
}
p.incorrect {
	color: #FF0000;
}
label {
	font-family: arial, verdana, sans-serif;
	float: left;
	text-align: left;
	display: block;
	margin-right: 5px;
	width: 140px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
}
input.normal {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input.normal2 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 350px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input.incorrect {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	background-color: rgba(255, 0, 0, 0.7);
}
input.incorrect:active {
	background-color: #FFF;
}
input.submit2 {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 125px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input.submit {
	margin: 0px;
	padding: 0px;
	height: 25px;
	width: 200px;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
input.submit:hover {
	background-color: #FFF;
	cursor: pointer;
}
input.submit2:hover {
	background-color: #FFF;
	cursor: pointer;
}
textarea {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	left: -2px;
	border: 1px solid #000;
	margin-bottom: 10px;
	font-family: arial, verdana, sans-serif;
	font-size: 14px; 
}
#About {
	min-width: 60px;
	padding-right: 10px;
}

#Services {
        min-width: 80px;
	padding-right: 10px;
}

#Phil {
	min-width: 95px;
	padding-right: 10px;
}

#Blog {
       min-width: 50px;
       padding-right: 10px;
}

#Photos {
       min-width: 65px;
       padding-right: 10px;
}

#Contact {
       min-width: 60px;
       padding-right: 10px;
}

#Connect {
       min-width: 77px;
       padding-right: 10px;
}

#login {
	padding-left: 275px;
}

#welcome {
	padding-left: 250px;
}
#home {
	padding-right: 10px;
}
#profile {
	padding-right: 10px;
}
#find {
	padding-right: 10px;
}
#feed {
	padding-right: 10px;
}
#blog {
	padding-right: 10px;
}
p.profile {
	color: #000;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
}
p.brochure1 {
	color: #000;
	font-family: arial, verdana, sans-serif;
	text-align: justify;
}
p.guestpics {
	margin-top: -5px;
}
span.brochuretext {
	color: #000;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
}
div.notheader {
	position: relative;
	top: 60px;
	left: 5px;
	background-color: rgba(255, 255, 255, .9);
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 500px;
	min-height: 150px;
}
div.header {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -25px;
	left: 10px;
}
div.login {
	padding: 10px;
	margin: 0px;
}
div.register {
	padding: 10px;
	margin: 0px;
}
div.clear {
	clear: both;
}
div.imgs {
	width: 175px;
	margin-left: 15px;
	border-style: solid;
	border-color: #000;
	float: right;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-right: 100px;
}
div.blogactions {
	width: 200px;
	margin-left: 15px;
	float: left;
	margin-right: 0px;
	padding-bottom: 0px;
}
div.body {
	width: 500px;
	float: left;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	padding-left: 40px;
	padding-right: 25px;
	margin-left: 10px;
	padding-top: 15px;
	padding-bottom: 10px;
}
div.bodyblog {
	width: 700px;
	float: left;
	border: 1px solid #999;
	-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	padding-left: 40px;
	padding-right: 25px;
	margin-left: 10px;
	padding-top: 15px;
}

div.bodyelement {
	border-bottom: 1px solid #999;
}
div.bodyelement2 {
	border-top: 1px solid #999;
}
div.bodyelement3 {
	padding-bottom: -30px;
	margin-bottom: -30px;
}
div.findimg {
	float: left;
	padding-top: 15px;
	padding-bottom: 15px;
}
div.gueststatus {
	float: left;
	display: in-line;
	margin-left: 10px;
}
img.sidebar {
	display: block;
}
img.guestpics {
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}
span.parens {
	font-size: 14px;
}
span.timestamp {
	font-style: italic;
	font-size: 10px;
	font-family: arial, verdana, sans-serif;
}
ul {
	padding-left: 15px;
}
li {
	padding: 0px;
	font-family: arial, verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
}
